.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 40px auto;
  margin-top: 152px;
}
.label {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #8d929a;
  margin-bottom: 8px;
  align-items: start;
}
.option {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
}
.select {
  border-radius: 12px;
  padding: 12px 16px;
  max-width: 204px;
  height: 44px;

  background-color: #f7f7f7;
  padding: 12px 16px;
}
.inputFrom {
  border-right: 1px solid #dadde1;
  border-radius: 12px 0 0 12px;
  width: 160px;
  height: 44px;

  background-color: #f7f7f7;

  padding: 12px 24px;
}
.inputTo {
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;

  background-color: #f7f7f7;

  padding: 12px 24px;
}
.inputs {
  gap: 0;
}
.select,
.inputFrom,
.inputTo {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
}
.button {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: #3470ff;

  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;

  cursor: pointer;
}
.button:hover {
  background-color: #0b44cd;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
