.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 700px;

  /* margin-top: 68px;  */
   padding: 436px 328px 60px;

  background-image: url(../../assets/MainCar.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  text-align: center;
}
.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  min-width: 900px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.button {
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  height: 44px;

  background: #3470ff;

  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;

  cursor: pointer;
}
